body{

	background-image: url("../images/whitebackground.jpg");
	font-family: "arial", "sans-serif";
}

h1, h3, h5{

	text-align: center;

}

.button.small{
	margin-left: 90px;
}

.main-nav ul{

	text-align: right;
	list-style-type: none;
}

.header {
  text-align: center;
  background: url("https://static.pexels.com/photos/6894/summer-photographer-pier-adventure-large.jpg") no-repeat center center;
  background-size: cover;
  padding: 4rem; }
  .header .main-header {
    color: #666; }

.header-subnav {
  float: none;
  position: relative;
  top: 4rem;
  text-align: center;
  margin-bottom: 0; }
  .header-subnav li {
    float: none;
    display: inline-block; }
    .header-subnav li a {
      padding: 0.9rem 1rem 0.75rem;
      font-size: 0.875rem;
      color: #fff;
}

  .sticky {
  position: relative;
  top: 0; }
