body {
    background-color: #A8DADC
    font-family: Helvetica, serif;
    text-align: center;
}

h1 {
    background-color: #A8DADC
    color: #1D3557
}

a {
    color: #E63946
}

ul {
    list-style-type: none;
}
.center {
    font-weight: bold;
}
