body {
    background-color: #01BAEF; /*LIGHT BLUE BACKGROUND*/
    font-family: Comic, Helvetica, sans-serif;
}

a {
    color: #FBFBFF;  /*WHITE LINKS*/
}

#container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

#header {
    background-color: #006B59; /*MUTED GREEN*/
    color: #FBFBFF; /*WHITE TEXT*/
    text-align: center;
    padding: 10px;
}

#content {
    /*background-color: #333333; /*DARK GREY*/
    padding: 10px;
    width: 100%;
}

#left {
    background-color: #0B4F6C; /*DARK BLUE*/
    width: 42%;
    margin: 0 4%;
    float: left;
}

#right {
    background-color: #0B4F6C; /*DARK BLUE*/
    width: 42%;
    margin: 0 4%;
    float: right;
}

@media(max-width: 1000px) {
    #left {
        width: 90%;
        margin: 0 5%;
    }

    #right {
        width: 90%;
        margin: 0 5%;
    }
}

#footer {
    clear: both;
    padding: 20px;
    background: #333333; /*DARK GREY*/
    color: #FBFBFF; /*WHITE*/
    text-align: right;
}
